
body {
	padding: 20px;
}

#text-div {
	margin-bottom: 10px;
	padding: 0px;
}

#text-area {
	height: 430px;
	padding-left: 10px; padding-right: 10px;
	resize: vertical;
	width: 100%; 
}

#text-prev {
	padding-left: 12px; padding-right: 12px;
	padding-top: 0px;
}